<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912859476907-lm35usk4in4fja10fami0unk61artoit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912859476907-lm35usk4in4fja10fami0unk61artoit</string>
	<key>API_KEY</key>
	<string>AIzaSyD0E-_u8Nq4h-QoveVKjlIOvp8cu2LImPE</string>
	<key>GCM_SENDER_ID</key>
	<string>912859476907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoapp</string>
	<key>PROJECT_ID</key>
	<string>demoapp-2a77d</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-2a77d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912859476907:ios:ed5a56d6477fcb663f58ee</string>
	<key>DATABASE_URL</key>
	<string>https://demoapp-2a77d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>